# OS
.DS_Store
Thumbs.db

# Adobe
*.log
*.pex
*.pkl
*.aex
*.prmp

# Build
dist/
build/
*.zxp
*.ccx
*.zip

# Node
node_modules/
npm-debug.log
yarn-error.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# UXP
.uxp/
*.uxpaddon
